{% extends "layout/main.njk" %}

{% block body %}
<form action="/" method="post">

    <div class="item">
        <label for="sideNumber">Nombre de côté</label>
        <input type="text" id="sideNumber" name="sideNumber"/>
    </div>

    <div class="item">
        <label for="numberSideSameLength">Nombre de côté de même longueur</label>
        <input type="text" id="numberSideSameLength" name="numberSideSameLength"/>
    </div>            
        
    <div class="item">
        <label for="numberParallelSide">Nombre de côté parallèle</label>
        <input type="text" id="numberParallelSide" name="numberParallelSide"/>
    </div>

    <div class="item">
        <label for="numberRightAngle">Nombre d'angle droit</label>
        <input type="text" id="numberRightAngle" name="numberRightAngle"/>
    </div>

    <div class="item">
        <label for="toBeOrNotToBe">Coté égaux 2 à 2</label>
        <input type="checkbox" id="toBeOrNotToBe" name="toBeOrNotToBe"/>
    </div>

    <input type="submit" value="Valider"/>
</form>
{% endblock %}
