{% extends "layout/main.njk" %}

{% block body %}
<p>
    Hello here are some {{ data }}
</p>

<form action="/" method="post">

    <div class="item">
        <label for="side_number">Nombre de côté</label>
        <input type="text" id="side_number" name="side_number"/>
    </div>

    <input type="submit" value="Valider"/>
</form>
{% endblock %}
